<md-toolbar>
  <button md-button class="orgName" routerLink="org/home/sits">{{loggedOrg?.name}}</button>
  <div class="logOut" fxFlex="flex" fxLayoutAlign="end" >
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>menu</md-icon>
    </button>
    <md-menu #menu xPosition="before" yPosition="below" [overlapTrigger]="false">
      <button md-menu-item [innerText]="'Orders'" routerLink="orders"></button>
      <button md-menu-item (click)="orgLogOut()" [innerText]="'Log out'"></button>
    </md-menu>
  </div>
</md-toolbar>
<router-outlet></router-outlet>
