:host {
  display: flex;
  background-color: slategray;
  flex-direction: column;
  line-height: 1.5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}
.footer {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  height: 215px;
}
button {
  margin: 20px;
}
.aboutUs {
  margin:10px;
  width:300px;
  display: flex;
  flex-direction: column;
}

.ourContacts {
margin: 10px;
}
.ourContacts h2 {
  margin-left: 15px;
}
.mat-list-item-content {
  height: unset;
}
md-list i {
  margin-right: 15px;
  color: white;

}
md-list p {
  color:white;
  font-size: 12px;
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  margin: 0 auto;


}
.copyright i {
  color:white;
  font-size: 20px;

}
.copyright p {
  color:white;
}
