
<div class="footer">
  <img src="../../../favicon.ico">
<div class="aboutUs">
  <h2>ABOUT OUR COMPANY</h2>
  <p>Our company is engaged in online entertainment registration. Thanks to us your customers can make a preliminary order and reserve a table regardless of their location. Your customers will save both their time and money.</p>

</div>
<div class="ourContacts">
    <h2>OUR CONTACTS</h2>

      <md-list>

            <md-list-item><i class="material-icons">contacts</i><p>3 Moskovyan street, Yerevan, Armenia.</p></md-list-item>
            <md-list-item><i class="material-icons">contact_phone</i><p>091708448</p></md-list-item>
            <md-list-item><i class="material-icons">contact_mail</i><p>reservesit@mail.ru</p></md-list-item>

      </md-list>

</div>
</div>
<div class="copyright"><i class="material-icons">copyright</i><p> Copyright 2017. All rights reserved</p></div>



