<div class="filter" [formGroup]="filterData">
  <md-select placeholder="Organization" formControlName="orgID">
    <md-option *ngFor="let org of orgs" [value]="org.orgID">
      {{org.name}}
    </md-option>
  </md-select>
  <md-input-container>
    <input mdInput placeholder="Sits"
           [errorStateMatcher]="errorStateMatcher"
           formControlName="sits">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Min price"
           [errorStateMatcher]="errorStateMatcher"
           formControlName="minPrice">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Max price"
           [errorStateMatcher]="errorStateMatcher"
           formControlName="maxPrice">
  </md-input-container>
</div>

