:host {
  display: flex;
  justify-content: center;
  margin: auto;
}

button {
  width: 120px;
  font-weight: 100;
  margin: 15px 15px 23px 15px;
}

md-input-container {
  padding: 15px;
}

md-select {
  padding: 15px 15px 20px 15px;
}

