.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
md-select {
  padding: 15px 15px 20px 15px;
}
md-input-container {
  padding: 15px;
}
button {
  width: 120px;
  margin: 15px 15px 23px 15px;
  font-weight: 100;
}
.mat-raised-button {
  background-color: #26A69A;
  color: #ECEFF1;
}

