<md-toolbar class="mat-accent">Sign Up</md-toolbar>
<form [formGroup]="regForm" fxLayout="column" (ngSubmit)="UserRegister()">
  <br/>

  <md-input-container>
    <input mdInput placeholder="Login"
           formControlName="login"
           [errorStateMatcher]="errorStateMatcher"
            required>
    <md-error *ngIf="regForm.get('login').hasError('required')"
              [innerText]="'Login is required'">
    </md-error>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="First Name"
           formControlName="firstName"
           [errorStateMatcher]="errorStateMatcher"
           required>
    <md-error *ngIf="regForm.get('firstName').hasError('required')"
              [innerText]="'First Name is required'">
    </md-error>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Last Name"
           formControlName="lastName"
           [errorStateMatcher]="errorStateMatcher"
           required>
    <md-error *ngIf="regForm.get('lastName').hasError('required')"
              [innerHTML]="' Last Name is <strong>required</strong>'">
    </md-error>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Email"
           formControlName="email"
           [errorStateMatcher]="errorStateMatcher"
           required>
    <md-error *ngIf="regForm.get('email').hasError('required')"
              [innerHTML]="'Email is <strong>required</strong>'">
    </md-error>
    <md-error *ngIf="regForm.get('email').hasError('pattern')"
              [innerText]=" 'Please enter a valid email'">
    </md-error>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Phone"
           formControlName="phone"
           [errorStateMatcher]="errorStateMatcher"
           required>
    <md-error *ngIf="regForm.get('phone').hasError('required')"
              [innerHTML]="'Phone number is <strong>required</strong>'">
    </md-error>
    <md-error *ngIf="regForm.get('phone').hasError('pattern')"
              [innerHTML]="'Phone number is not valid'">
    </md-error>
  </md-input-container>

  <md-radio-group formControlName="gender">Gender
    <md-radio-button *ngFor="let gender of genders" [value]="gender" color="accent">
      {{gender}}
    </md-radio-button>
  </md-radio-group>

  <md-input-container>
    <input mdInput type="password"
           placeholder="Password"
           formControlName="password"
           [errorStateMatcher]="errorStateMatcher" required>
    <md-error *ngIf="regForm.get('password').hasError('required')"
              [innerHTML]=" ' Password is <strong>required</strong>'">
    </md-error>
    <md-error *ngIf="regForm.get('password').hasError('minlength')"
              [innerHTML]=" 'Password must be at least <strong>15</strong> characters'">
    </md-error>
  </md-input-container>

  <div class="regError">
    <md-error *ngIf="error" [innerText]="error"></md-error>
  </div>
  <div fxLayout="row" class="mat-grid-tile-footer">
    <button type="button" class=" mat-raised-button mat-accent"
            [routerLink]="['', {outlets: {'account': 'login'}}]"
            [innerText]="'Sign In'">
    </button>
    <div fxFlex="2"></div>
    <button type="submit"
            md-button class="mat-raised-button mat-accent"
            [disabled]="regForm.invalid"
            [innerText]="'Sign Up'">
    </button>
    <md-spinner *ngIf="loading"></md-spinner>
  </div>
</form>

