md-toolbar {
  background-color: #26A69A;
}
md-toolbar button {
  color: #ECEFF1;
}
.logo {
  height: 50px;
  background-color: Transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.logo img {
  vertical-align: middle;
  height: 45px;
}
