md-toolbar {
  background-color: #26A69A;
}
md-toolbar button {
  color: #ECEFF1;
}
.logo {
  height: 60px;
  background-color: Transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.logo img {
  vertical-align: middle;
  height: 55px;
}
