md-card {
  background-color: white;
  height: 100%;
  outline: 1px solid #B2DFDB;
}
md-card:hover {
  outline: 2px solid #80CBC4;
}
img[md-card-image] {
  margin: 0;
  max-height: 100%;
  max-width: 100%;
}
.imgCtr {
  display: flex;
  align-items: center;
  max-width: calc(100% + 48px);
  height: 200px;
  margin-left: 0px;
}
md-card > .material-icons {
  font-size: 100px;
}
md-card-header {
  margin: 0;
  display: inline;
}
md-card-title {
  margin: 0 0 16px 0;
}
.sitProps {
  margin-top: 20px;
}
md-card:hover {
  opacity: 0.8;
}
md-card-subtitle {
  float: right;
}
.mat-card-header-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
md-card-actions {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
button {
  width: 86%;
}
.details {
  background-color: #26A69A;
  color: white;
}
