.placeholder {
  width: 175px;
  height: 175px;
  background-size: contain;
  background-repeat: no-repeat;
}
#file {
  display: none;
}
md-icon {
  font-size: 40px;
  font-family: "Material Icons", serif;
}
label {
  cursor: pointer;
  width: 175px;
  line-height: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
