<md-card fxLayout="row">
  <md-card-content>
    <md-grid-list cols="2" rowHeight="40px">
      <md-grid-tile [rowspan]="2">
        <md-card-title [innerText]="sit.sitName"></md-card-title>
      </md-grid-tile>
      <md-grid-tile [rowspan]="2">
        <span [innerText]="'Seats: ' + sit.numOfSeats"></span>
      </md-grid-tile>
      <md-grid-tile>
        <span>
          <strong [innerText]="sit.reserved ? 'Reserved':'Not reserved'"></strong>
        </span>
      </md-grid-tile>
      <md-grid-tile>
        <span [innerText]="sit.cost ? (sit.cost|currency:'JPY':true):'Free'"></span>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <md-grid-tile>
        <span [innerText]="sit.reserved? (sit.paid? 'Paid':'Not Paid'):''"></span>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
  <md-card-content fxLayout="column">
    <div class="imgCtr">
      <img [src]="sit.image"/>
    </div>
    <md-card-actions fxLayout="row">
      <button md-button class="edit" (click)="editSit()">Edit</button>
      <button md-button class="delete" (click)="deleteSit()">
        <md-icon>clear</md-icon>
      </button>
    </md-card-actions>
  </md-card-content>
</md-card>
