<h2 md-dialog-title>Reserve Day</h2>
<md-dialog-content>
  <md-input-container>
  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)] = "value" name = 'date'>
  <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
  <md-datepicker #picker></md-datepicker>
  <md-input-container>
    <input  type="time" mdInput placeholder="Choose a time" [value]="time">
    <md-icon mdSuffix>access_time</md-icon>
  </md-input-container>
</md-dialog-content>
<md-dialog-actions>
   <button md-button class="mat-primary" (click)="close()">Ok</button>
</md-dialog-actions>
