<button md-raised-button routerLink="../">
  <md-icon>arrow_back</md-icon>
  Sits
</button>

<md-table #table [dataSource]="dataSource">

  <!-- Sit name column -->
  <ng-container cdkColumnDef="name">
    <md-header-cell *cdkHeaderCellDef>Seat name</md-header-cell>
    <md-cell *cdkCellDef="let order"> {{order.sit.name}} </md-cell>
  </ng-container>

  <!-- Reserve date Column -->
  <ng-container cdkColumnDef="reserveDate">
    <md-header-cell *cdkHeaderCellDef>Reserve date</md-header-cell>
    <md-cell *cdkCellDef="let order"> {{order.orderDate | date:'short'}} </md-cell>
  </ng-container>

  <!-- User name Column -->
  <ng-container cdkColumnDef="user">
    <md-header-cell *cdkHeaderCellDef>User</md-header-cell>
    <md-cell *cdkCellDef="let order"> {{order.user.firstName}} </md-cell>
  </ng-container>

  <!-- return Column -->
  <ng-container cdkColumnDef="action">
    <md-header-cell *cdkHeaderCellDef>Action</md-header-cell>
    <md-cell *cdkCellDef="let order">
      <button md-raised-button
              (click)="details(order)"
              [innerText]="'Details'">
      </button>
      <button md-raised-button
              [disabled]="order.releaseDate"
              (click)="releaseSit(order)"
              [innerText]="order.releaseDate ? 'Released' : 'Release'">
      </button>
    </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let order; columns: displayedColumns;"></md-row>
</md-table>
