:host {
  height: 400px;
  width: 450px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
form md-input-container, md-radio-group {
  padding: 5px;
}
md-radio-button {
  margin-left: 20px;
}
md-spinner {
  height: 35px;
  width: 19px;
  padding-left: 15px;
}
.mat-grid-tile-footer {
  padding-bottom: 10px;
}
