:host {
  height: 400px;
  width: 450px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form md-input-container, md-radio-group {
  padding: 5px;
}

.mat-grid-tile-footer {
  padding-bottom: 10px;
}

md-spinner {
  width: 19px;
  height: 35px;
  padding-left: 15px;
}

md-radio-button {

  margin-left: 20px;
}
