<md-list [ngClass]="{'finish_order': !!order.releaseDate}">
  <md-list-item [innerText]="index+1"></md-list-item>
  <md-list-item> <img md-card-image [src]="order.sit.image"></md-list-item>
  <md-list-item [innerText]="order.org.name"></md-list-item>
  <md-list-item>
    <md-input-container class="example-full-width">
      <input mdInput type="text" [value]="order.orderDate | date : 'yMdjm'" disabled>
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <button md-button class="mat-primary mat-raised-button" (click)="openDialog()">Details</button>
    <button md-button class="mat-primary mat-raised-button" disabled *ngIf="!!order.releaseDate">Finished</button>
  </md-list-item>
</md-list>
