md-card {
  width: 400px;
  box-shadow: unset !important;
}
md-grid-tile {
  outline: 1px solid #B0BEC5;
}
md-icon {
  font-family: "Material Icons", serif;
}
md-card-actions {
  display: flex;
  justify-content: space-between;
}
