:host  {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width:400px;
  height: auto;
}
form md-input-container, form div {
  padding: 5px;
}
.footer{
  position: relative;
}
md-spinner {
  width: 19px;
  height: 35px;
  margin: 0;
  position: absolute;
  left: 100px;
}


