<md-toolbar class="mat-primary">
  Organization Login
</md-toolbar>
<form [formGroup]="loginForm"
      fxLayout="column" (ngSubmit)="login()" >
  <md-input-container>
    <input mdInput placeholder="Login"
           formControlName="login"
           [errorStateMatcher]="errorStateMatcher" autofocus>
    <md-error *ngIf="loginForm.get('login').hasError('required')">
      Login is <strong>required</strong>
    </md-error>
  </md-input-container>
  <md-input-container>
    <input mdInput type="password"
           placeholder="Password"
           formControlName="password"
           [errorStateMatcher]="errorStateMatcher">
    <md-error *ngIf="loginForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </md-error>
  </md-input-container>
  <div fxLayout="row" class="footer">
    <button type="submit"
            md-raised-button color="primary"
            [disabled]='loginForm.invalid' >
      Login
    </button>
    <md-spinner *ngIf="sentLogin"></md-spinner>
    <div fxFlex="60"></div>
    <button type="button" md-button color="primary"
            routerLink="../create">
      Sign Up
    </button>
  </div>
</form>
