:host  {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin:30px auto;
}
form md-input-container, form div {
  padding: 15px;
}
