:host  {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin:30px auto;
}
form md-input-container, form div {
  padding: 15px;
}
.footer{
  position: relative;
}
md-spinner {
  width: 19px;
  height: 35px;
  margin: 0;
  position: absolute;
  left: 115px;
}
