:host  {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin:30px auto;
  background-color:rgb(255,255,255);
}
form md-input-container, form div {
  padding: 15px;
}
.footer{
  position: relative;
}
md-spinner {
  width: 19px;
  height: 35px;
  margin: 0;
  position: absolute;
  left: 115px;
}
md-toolbar {
  background-color: #78909C;
  width: 450px;
}
h2 {
  color: #ECEFF1 !important;
}
* {
  color: #263238;
}
button[md-raised-button] {
  background-color: #78909C;
  color: white;
}
