<md-toolbar>
  <button md-raised-button routerLink="../">
    <md-icon>home</md-icon>
    Home
  </button>
  <button md-raised-button routerLink="../archive">
    Archive
  </button>
  <md-input-container>
    <input mdInput placeholder="Search" type="search" #search>
  </md-input-container>
</md-toolbar>
<md-table #table [dataSource]="dataSource">

  <!-- Sit name column -->
  <ng-container cdkColumnDef="name">
    <md-header-cell *cdkHeaderCellDef fxFlex="200px">Seat name</md-header-cell>
    <md-cell *cdkCellDef="let order" fxFlex="200px"> {{order.sit.name}} </md-cell>
  </ng-container>

  <!-- Reserve date Column -->
  <ng-container cdkColumnDef="reserveDate">
    <md-header-cell *cdkHeaderCellDef>Reserve date</md-header-cell>
    <md-cell *cdkCellDef="let order"> {{order.orderDate | date:dateFormat}} </md-cell>
  </ng-container>

  <!-- User name Column -->
  <ng-container cdkColumnDef="user">
    <md-header-cell *cdkHeaderCellDef>User</md-header-cell>
    <md-cell *cdkCellDef="let order"> {{order.user.firstName + ' ' + order.user.lastName}} </md-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container cdkColumnDef="action">
    <md-header-cell *cdkHeaderCellDef fxFlex="200px">Action</md-header-cell>
    <md-cell *cdkCellDef="let order" fxFlex="200px">
      <button md-raised-button
              (click)="details(order)"
              [innerText]="'Details'">
      </button>
      <button md-raised-button
              [disabled]="order.releaseDate"
              (click)="releaseSit(order)"
              [innerText]="order.releaseDate ? 'Released' : 'Release'">
      </button>
    </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let order; columns: displayedColumns;"></md-row>
</md-table>
