md-icon {
  font-family: "Material Icons", serif;
}
md-toolbar button {
   margin: auto 10px;
 }
md-toolbar {
  margin: 16px 10px;
  position: relative;
  width: unset;
  padding: 0;
  background: transparent;
}
md-table {
  margin: 0 20px;
}
md-toolbar button:last-of-type {
  position: absolute;
  right: 0;
}
