md-dialog-content {
  width: 400px;
  height: 300px;
}
md-spinner {
  width: 35px;
  height: 35px;
  margin: 0 5px;
}
md-icon {
  font-family: "Material Icons", serif;
}
button[md-raised-button] {
  background-color: #78909C;
  color: white;
  margin-right: 6px;
}
md-dialog-actions {
  display: flex;
  justify-content: space-between;
}
org-image-upload {
  opacity: .7;
  float: right;
  width: 175px;
  display: block;
}
md-input-container {
  width: 190px;
}
span {
  opacity: .8;
}
.fileSizeError {
  color: red;
  font-size: 10px;
  text-align: right;
}
md-dialog-actions div:first-of-type {
  display: flex;
  align-items: center;
  font-size: 14px;
}
