<h1 md-dialog-title [innerText]="this.title"></h1>

<form [formGroup]="sitForm">
  <md-dialog-content>
    <md-input-container>
      <input mdInput placeholder="Seat Name"
          required
          formControlName="sitName"/>
    </md-input-container>
    <org-image-upload formControlName="image"></org-image-upload>
    <br/>
    <md-input-container>
      <input mdInput type="number"
             placeholder="Quantity of seats"
             required
             formControlName="numOfSeats"/>
    </md-input-container>
    <br/>
    <md-input-container>
      <input mdInput type="number"
             placeholder="Cost"
             required
             formControlName="cost"/>
    </md-input-container>
    <br/>
    <md-checkbox formControlName="reserved">
      Reserved
    </md-checkbox>
    <br/>
    <md-checkbox formControlName="paid">
      Paid
    </md-checkbox>
    <br/><br/><br/><br/>
    <span>* required fields</span>
  </md-dialog-content>

  <md-dialog-actions>
    <md-spinner *ngIf="inProgress"></md-spinner>
    <button md-raised-button (click)="saveSit()" [disabled]='!sitForm.valid'>Save</button>
    <button md-button [md-dialog-close]="null">Cancel</button>
  </md-dialog-actions>
</form>
