<h1 md-dialog-title [innerText]="sit.org.name"></h1>
<md-chip-list>
  <md-chip [color]="sit.reserved?'warn':'primary'" selected="true" [innerText]="(sit.reserved?'':'Not ')+'Reserved'"></md-chip>
</md-chip-list>

<md-dialog-content>
  <div class="imgCtr">
    <img [src]=sit.image />
  </div>
  <br/>
  <md-input-container>
    <input mdInput type="number" placeholder="Quantity of seats" disabled
           [value]="sit.numOfSeats"/>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Cost" disabled
           [value]="sit.cost ? (sit.cost|currency:'JPY':true):'Free'"/>
  </md-input-container>
</md-dialog-content>

<md-dialog-actions>
  <button md-raised-button [md-dialog-close]="null">Close</button>
</md-dialog-actions>
