md-dialog-content {
  width: 400px;
  height: 500px;
}
md-dialog-actions {
  justify-content: flex-end;
}
div {
  width: 400px;
}
img{
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
md-chip-list {
  float: right;
}
md-chip {
  outline: none;
  user-select: none;
  cursor: default;
}
h1 {
  display: inline-block;
}
span {
  margin: 5px;
}
