<h1 md-dialog-title [innerText]="sit.org.name"></h1>
<md-chip-list>
  <md-chip [color]="sit.reserved?'warn':'accent'" selected="true" [innerText]="(sit.reserved?'':'Not ')+'Reserved'"></md-chip>
</md-chip-list>

<md-dialog-content>
  <div class="imgCtr">
    <img [src]=sit.image />
  </div>
  <br/>
  <md-list>
    <md-list-item><strong>Number of seats:</strong>
      <span>{{sit.numOfSeats}}</span>
    </md-list-item>
    <md-list-item><strong>Cost:</strong>
      <span>{{sit.cost ? (sit.cost|currency:'JPY':true):'Free'}}</span>
    </md-list-item>
  </md-list>
</md-dialog-content>

<md-dialog-actions>
  <button md-raised-button [md-dialog-close]="null">Close</button>
</md-dialog-actions>
