<md-toolbar class="mat-primary">
  <h2>Registration</h2>
</md-toolbar>
<form [formGroup]="regForm" fxLayout="column" (ngSubmit)="OrgRegister(regForm)">
  <md-input-container>
    <input mdInput placeholder="Organization Name"
           formControlName="name" [errorStateMatcher]="ErrorStateMatcher" required>
    <md-error *ngIf="regForm.get('name').hasError('required')">
      Organization is <strong>required</strong>
    </md-error>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Address"
           formControlName="address" [errorStateMatcher]="ErrorStateMatcher" required>
    <md-error *ngIf="regForm.get('address').hasError('required')">
      Address is <strong>required</strong>
    </md-error>
  </md-input-container>

  <div>
    <md-input-container>
      <input mdInput placeholder="City" formControlName="city"
             [errorStateMatcher]="ErrorStateMatcher" required>
      <md-error *ngIf="regForm.get('city').hasError('required')">
        City is <strong>required</strong>
      </md-error>
    </md-input-container>

    <md-select placeholder="Country" formControlName="country" required>
      <md-option *ngFor="let country of countries" [value]="country.name">
        {{country.name}}
      </md-option>
    </md-select>
  </div>


  <md-input-container>
    <input mdInput placeholder="Email" formControlName="email"
           [errorStateMatcher]="ErrorStateMatcher">
    <md-error *ngIf="regForm.get('email').hasError('pattern')">
      Please enter a valid email
    </md-error>
  </md-input-container>
  <div>
    <md-input-container>
      <input mdInput placeholder="Phone Number" formControlName="pNumber"
             [errorStateMatcher]="ErrorStateMatcher" required>
      <md-error *ngIf="regForm.get('pNumber').hasError('required')">
        Number is <strong>required</strong>
      </md-error>

      <md-error *ngIf="regForm.get('pNumber').hasError('pattern')">
        Namber isn't valid
      </md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Fax Number" formControlName="fNumber">
    </md-input-container>
  </div>
  <md-input-container>
    <input mdInput type="password" placeholder="Password"
           formControlName="password" [errorStateMatcher]="ErrorStateMatcher" required>
    <md-error *ngIf="regForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </md-error>
    <md-error *ngIf="regForm.get('password').hasError('minlength')">
      Password minlength <strong>15</strong>
    </md-error>
  </md-input-container>
  <div fxLayout="row" class="mat-grid-tile-footer">
    <button class=" mat-raised-button mat-primary" routerLink="/org/login">Cancel</button>
    <div fxFlex="2"></div>
    <button md-button class="mat-raised-button mat-primary" [disabled]="!regForm.valid">Submit</button>
  </div>
</form>


