:host  {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin:30px auto;
  background-color: rgba(255,255,255,255);
}
form md-input-container ,.mat-grid-tile-footer{
  padding: 15px;
}
md-spinner {
  width: 19px;
  height: 35px;
  padding-left: 15px;
}
md-toolbar {
  width: 450px;
}
* {
  color: #263238;
}
div md-input-container, md-select {
  width: 191px;
}
div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
md-select {
  padding: 15px;
}
