h2, h3 {
  font-weight: 700;
}
div {
  width: 1000px;
}
md-grid-tile {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
}
md-icon {
  font-family: 'Material Icons', serif;
  font-size: 100px;
}
md-grid-tile {
  outline: 1px solid #26A69A;
}
md-grid-tile:hover {
  outline: 2px solid #269b8f;
}
.addSit {
  outline: none;
}
.addSit md-card {
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addSit md-card button {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.addSit:hover, .addSit:hover md-icon {
  outline: none;
  opacity: 0.8;
  font-size: 120px;
}
