.container {
  width: 100%;
  margin-top: 20px;
}
h2{
  font-weight: 700;
  margin: 0;
  padding: 20px 0;
}
md-grid-tile {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  outline: 1px solid #CFD8DC;
}
md-icon {
  font-family: 'Material Icons', serif;
  font-size: 30px;
}
md-grid-tile:hover {
  outline: 2px solid #B0BEC5;
}
org-sit {
  height: 100%;
  width: 100%;
}
.addSit {
  font-size: 36px;
  float: right;
  margin-top: inherit;
  margin-right: 40px;
}
md-grid-list {
  margin-right: 100px;
  margin-left: 100px;
}
md-input-container {
  margin-top: 10px;
  margin-left: 100px;
}
