<!--
<h2>All Sits</h2>
<ul class="sits">
  <li *ngFor="let sit of sits" (click)="onSelect(sit)"
      [class.selected]="sit === selectedSit">
    <span class="badge">{{sit.sitID}}</span>
    <span class="org">{{sit.orgID}}</span>
    <span class="seats">| {{sit.numOfSeats}} seat{{sit.numOfSeats > 1?'s':''}}</span>
    <span class="reserved">| {{sit.reserved? '': 'not'}} reserved</span>
    <span class="cost">| {{sit.cost | currency:'GBP'}}</span>
    <span class="paid">| {{sit.paid? '':'not'}} paid</span>
    &lt;!&ndash;<button class="delete"&ndash;&gt;
    &lt;!&ndash;(click)="delete(sit); $event.stopPropagation()">x</button>&ndash;&gt;
  </li>
</ul>
<div *ngIf="selectedSit">
  <h2>
    {{selectedSit.sitID | uppercase}}
  </h2>
  <h4>
    is the one you SELECTED!!!
  </h4>
  &lt;!&ndash;<button (click)="gotoDetail()">View Details</button>&ndash;&gt;
</div>
-->

<div>
  <md-grid-list cols="4" rowHeight="300px">
    <md-grid-tile
        *ngFor="let sit of sits">
      {{sit.sitID}}
    </md-grid-tile>
  </md-grid-list>
</div>
