<div class="container">
  <md-toolbar>
    <button md-button class="orgName">{{loggedOrg?.name}}</button>
    <div class="logOut" fxFlex="flex" fxLayoutAlign="end" >
      <button md-button (click)="orgLogOut()">
        Log out
      </button>
    </div>
  </md-toolbar>
  <div>
    <button md-mini-fab class="addSit" mdTooltip="Add Sit" (click)="addSit()">
      +
    </button>
    <br/><br/><br/>
    <md-grid-list cols="2" gutterSize="10px" rowHeight="250px">
      <md-grid-tile
          *ngFor="let sit of sits"
          [style.opacity]="sit.reserved? 0.5:1">
        <org-sit [sit]="sit" (del)="deleteSit($event)"></org-sit>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
