.container {
  width: 100%;
  background-color: #ECEFF1;
  margin: 0;
}
h2{
  font-weight: 700;
  margin: 0;
  padding: 20px 0;
}
div {
  width: 1000px;
  margin: 20px 0 0 20px;
}
md-grid-tile {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  outline: 1px solid #CFD8DC;
}
md-icon {
  font-family: 'Material Icons', serif;
  font-size: 30px;
}
md-grid-tile:hover {
  outline: 2px solid #B0BEC5;
}
org-sit {
  height: 100%;
  width: 100%;
}
.addSit {
  background-color: #78909C;
  color: white;
  float: right;
  font-size: 36px;
}
