md-card {
  margin:0 20px 5px 20px;
}
button{
  margin: 20px;
}
.loader {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}
md-spinner{
  width: 40px;
  height: auto;
}
