button {
  margin: 20px;
}

md-card {
  margin: 0 20px 5px 20px;
}

md-spinner {
  height: auto;
  width: 40px;
}

.loader {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
