<div class='reg-form'>

  <md-toolbar class="mat-primary">
    <h2 class="mat-h2">Registration</h2>
  </md-toolbar>

  <form #myform="ngForm" fxLayout="column">

    <md-input-container>
      <input mdInput type="text" placeholder="Name" required>
    </md-input-container>

    <md-input-container>
      <input mdInput type="text" placeholder="Address" required>
    </md-input-container>

    <div>
      <md-input-container>
        <input mdInput type="text" placeholder="City" required>
      </md-input-container>
      <md-select placeholder="Country" [(ngModel)]="countryID" name="country" required>
        <md-option>Armenia</md-option>
        <md-option *ngFor="let country of countries" [value]="country.countryID">
          {{country.name}}
        </md-option>
      </md-select>
    </div>

    <md-input-container>
      <input mdInput type="email" placeholder="Email">
    </md-input-container>

    <md-input-container>
      <input type="text" mdInput placeholder="Phone Number" required>
    </md-input-container>

    <md-input-container>
      <input type="text" mdInput placeholder="Fax Number">
    </md-input-container>

    <div fxLayout="row" class="mat-grid-tile-footer">
      <button class=" mat-raised-button mat-primary" routerLink = "/org/login">Cancel</button>
      <div fxFlex="2"></div>
      <button md-button class="mat-raised-button mat-primary" disabled>Submit</button>
    </div>

  </form>

</div>

